[class*= "col"]{
    background-color: blue;
    border: 1px solid white;
    text-align: center;
    color: white;
    white-space: nowrap;
    
}
.nested{
    background-color: aquamarine;
}
.main [class*= "col"]{
    height: 2.3rem;
}
.last{
    display: flex;
    flex-direction: column-reverse;
}